---
---

<div id="audio-player">

</div>

<ul class="list-unstyled">
  {% for music in site.data.music %}
  <li class="song">
    <div class="card mt-2">
      <div class="card-header">
        <h3 class="card-title">
          {{ music.title }}

          {% if music.duration %}
          <small class="music-duration float-right">
            {{ music.duration | divided_by: 60 }}:{{ music.duration | modulo: 60 }}
          </small>
          {% endif %}
        </h3>
      </div>
      {% if music.files and music.files.size > 0 %}
      <div class="card-body text-light">
        <audio controls>
          <span>Your browser does not support playing audio.</span>
          {% for file in music.files %}
          <source src="{{ file.path }}" type="{{ path.type }}" />
          {% endfor %}
        </audio>
      </div>
      {% endif %}

      {% if music.lyrics %}
      <div class="card-body text-light">
        <div class="lyrics">
          <h4>Lyrics</h4>
          {{ music.lyrics | newline_to_br }}
        </div>
      </div>
      {% endif %}
      <div class="card-footer text-light">
        <dl class="row">
          {% if music.artists %}
          <dt class="col-3 text-right">
            {% if music.artists.size > 1 %}
            Artists
            {% else %}
            Artist
            {% endif %}
          </dt>
          <dd class="col-9">
            <ul class="list-inline">
              {% for artist in music.artists %}
              <li class="list-inline-item">{{ artist }}</li>
              {% endfor %}
            </ul>
          </dd>
          {% endif %}
          {% if music.date %}
          <dt class="col-3 text-right">
            Date
          </dt>
          <dd class="col-9">
            {{ music.date | date : "%Y"}}
          </dd>
          {% endif %}

          {% if music.authors %}
          <dt class="col-3 text-right">
            {% if music.authors.size > 1 %}
            Authors
            {% else %}
            Author
            {% endif %}
          </dt>
          <dd class="col-9">
            <ul class="list-inline">
              {% for author in music.authors %}
              <li class="list-inline-item">{{ author }}</li>
              {% endfor %}
            </ul>
          </dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>