<ul class="list-unstyled">
    <li>
        <p>Everybody tells me about the top stars of blues, I know a young man you will
            hear very soon. Listen with all your heart and soul. Jay is a great guitar
            player...&nbsp;<strong><em>Luther S. Allison</em></strong></p>
    </li>

    <li>
        <p>Jay Stulo is an absolute guitarist's delight...&nbsp;<strong><em>Maximum
                    Ink</em></strong></p>
    </li>

    <li>
        <p><em>Cool writing...stratospheric guitar wailing...hot
                stuff...&nbsp;<strong>Blues Revue</strong></em></p>
    </li>

    <li>
        <p>With vocals like coarse sand-paper and a take no prisoners guitar style,
            Stulo attacks listeners with a vigorous blend of all cylinders
            rockin'...&nbsp;<strong><em>Boston Blues News</em>&nbsp;</strong></p>
    </li>
    <li>
        <p>The audience seemed to stand back and watch for falling bricks... Jay layed
            down those lines that it seems you've waited a life time to
            hear...&nbsp;<strong><em>Twin Cities Blues News</em></strong></p>
    </li>

    <li>
        <p>Fox Valley Grammy's Best live performance by a local band, and the winner is
            Jay Stulo and the Mighty Aces. These guys have come on as heavy duty players
            not only in the Fox Valley but throughout the
            Midwest...&nbsp;<strong><em>Appleton Post Crescent</em></strong></p>
    </li>

    <li>
        <p>His (Jay Stulo) playing reminds us what the blues is supposed to be
            about...&nbsp;<strong><em>Blues Revue</em></strong></p>
    </li>

    <li>
        <p>A new voice and guitarist with a lot of skill, a style of his own and the
            class not just to show off...&nbsp;<strong><em>Blues Access</em></strong>
        </p>
    </li>

</ul>