
body{
    //background-image: url('../images/bg.jpg');
    //background-position: center top;
    background-color: #eceef5;
}

#jay-guitar{
    width: 100%;
    border-style: solid;
    border-width: 25px;
    border-color: #515751;
}

h1, h2, h3, h4, h5, h6{
    &.section{
        text-transform: uppercase;
        text-align: right;
    }
}

h2, h3, h4, h5, h6{
    &.section{
        border-bottom: 1px solid #515751;
    }
}

a{
    color:#596869;
}

#mainNav{
    text-transform: uppercase;

    li{
        text-align: right;
        font-size: 1.5em;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #515751;
        font-family: Arial Black;
        letter-spacing: -3px;
        display: block;
        text-transform: uppercase;
        transition: All .4s ease-in;
        padding-right: 5px;
        padding-left: 5px;

        a{
            text-decoration: none;
            transition: All .4s ease-in;
        }
    }

    li.active{
        background-color: #515751;
        color: #C2C1A5;
        a{
            color: #fff;
        }
    }

    li:not(.active){
        a{
            color: #515751;
        }

        &:hover{
            background-color: #000;
            color: #515751;
            
            a{
                color: #515751;
            }
        }
    }
}

#facebook{
    iframe{
        width: 100%;
        height: 600px;
        border: none;
    }
}

#share{
    padding-top:.5em;
}